---
import Modal from './Modal.astro';
---

<Modal id="experienceModal" title="Experience">
    <div class="p-3">
         <ul role="list" class="space-y-4 py-2 mx-auto hidden sm:block">
        <li class="relative flex gap-x-3">
            <div class="absolute top-2 -bottom-6 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full ring-1 ring-black bg-black"></div>
            </div>
            <div class="flex flex-col w-full">
                <div class="flex justify-between w-full items-center pb-1">
                    <div>
                        <p class="text-xs/2 font-medium text-gray-900">Engineer <span class="font-regular text-xs text-gray-500">| KRNY Digital</span></p>
               
                    </div>
                    <p class="text-xs text-gray-500">2025 - present</p>
                </div>
                <ul>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                </ul>
            </div>

        </li>
        <li class="relative flex gap-x-3">
            <div class="absolute top-0 -bottom-6 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col w-full">
                <div class="flex justify-between w-full items-center pb-1">
                    <div>
                        <p class="text-xs/2 font-medium text-gray-900">Lead Frontend Engineer <span class="font-regular text-xs text-gray-500">| Concept IX</span></p>
               
                    </div>
                    <p class="text-xs text-gray-500">2023 - 2025</p>
                </div>
                <ul>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                </ul>
            </div>
        </li>
        <li class="relative flex gap-x-3">
            <div class="absolute top-0 -bottom-8 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col w-full">
                <div class="flex justify-between w-full items-center pb-1">
                    <div>
                        <p class="text-xs/2 font-medium text-gray-900">Senior Frontend Engineer <span class="font-regular text-xs text-gray-500">| Lead Sherpa</span></p>
               
                    </div>
                    <p class="text-xs text-gray-500">2021 - 2023</p>
                </div>
                <ul>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                </ul>
            </div>
        </li>
        <li class="relative flex gap-x-3">
            <div class="absolute top-0 -bottom-8 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col w-full">
                <div class="flex justify-between w-full items-center pb-1">
                    <div>
                        <p class="text-xs/2 font-medium text-gray-900">Frontend Engineer <span class="font-regular text-xs text-gray-500">| Lead Sherpa</span></p>
               
                    </div>
                    <p class="text-xs text-gray-500">2020 - 2021</p>
                </div>
                <ul>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                </ul>
            </div>
        </li>
        <li class="relative flex gap-x-3">
            <div class="absolute top-0  left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col w-full">
                <div class="flex justify-between w-full items-center pb-1">
                    <div>
                        <p class="text-xs/2 font-medium text-gray-900">Frontend Engineer <span class="font-regular text-xs text-gray-500">| Carbon Studios</span></p>
               
                    </div>
                    <p class="text-xs text-gray-500">2018 - 2020</p>
                </div>
                <ul>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                    <li class="text-xs/5">
                        My first responsibility was doing this
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    </div>
</Modal>