---
import Modal from './Modal.astro'
---

<Modal id="skillsModal" title="Skills">
    <div>
        <p class="text-xs/5">I specialize in building high-performance, scalable web applications with modern frontend technologies. Whether it's optimizing an existing codebase or architecting a new project, I focus on writing clean, maintainable code that scales.</p>
    </div>
    <div class="mt-2">
        <h6 class="text-sm font-bold">Frontend</h6>
        <ul class="ml-4 flex flex-col gap-2">
            <li class="text-xs/5 mt-2"><span class="font-semibold">React: </span> Component-driven architecture for scalable applications.</li>
            <li class="text-xs/5"><span class="font-semibold">Remix: </span> Fullstack React framework for building modern web apps.</li>
            <li class="text-xs/5"><span class="font-semibold">D3.js: </span> Data visualization library for creating interactive charts.</li>
            <li class="text-xs/5"><span class="font-semibold">Tailwind CSS: </span> Utility-first CSS framework for rapid UI development.</li>
            <li class="text-xs/5"><span class="font-semibold">Astro: </span> Static site generator for building modern web applications.</li>
            <li class="text-xs/5"><span class="font-semibold">REST APIs: </span> Architectural style for building APIs that are scalable and maintainable.</li>
            <li class="text-xs/5"><span class="font-semibold">GraphQL: </span> Query language for APIs that enables declarative data fetching.</li>
        </ul>
    </div>
    <div class="mt-2">
        <h6 class="text-sm font-bold">Backend & Databases</h6>
        <ul class="ml-4 flex flex-col gap-2">
            <li class="text-xs/5 mt-2"><span class="font-semibold">Firebase: </span> Realtime database and authentication for web applications.</li>
            <li class="text-xs/5"><span class="font-semibold">Supabase: </span> Open-source Firebase alternative with a PostgreSQL database.</li>
            <li class="text-xs/5"><span class="font-semibold">Python: </span> Backend language for building scalable web applications.</li>
            <li class="text-xs/5"><span class="font-semibold">Typescript: </span> Typed superset of JavaScript for building scalable applications.</li>
            <li class="text-xs/5"><span class="font-semibold">NoSQL: </span>Scalable database structure that stores data in more than just tables.</li>
            <li class="text-xs/5"><span class="font-semibold">Node.js: </span> JavaScript runtime for building scalable server-side applications.</li>
        </ul>
    </div>
    <div class="mt-2">
        <h6 class="text-sm font-bold">Performance & Optimization</h6>
        <ul class="ml-4 flex flex-col gap-2">
            <li class="text-xs/5 mt-2"><span class="font-semibold">Code Splitting & Lazy Loading: </span> Faster load times for better UX.</li>
            <li class="text-xs/5"><span class="font-semibold">SSR vs CSR optimization: </span> Choosing the right rendering strategy.</li>
            <li class="text-xs/5"><span class="font-semibold">Caching & state management: </span> Efficient handling of data with React Query/Zustand.</li>
            <li class="text-xs/5"><span class="font-semibold">Typescript: </span> Typed superset of JavaScript for building scalable applications.</li>
        </ul>
    </div>
</Modal>