---
import AboutMe from './BentoBox/AboutMe.astro'
import Blog from './BentoBox/Blog.astro'
import Experience from './BentoBox/Experience.astro'
import HireMe from './BentoBox/HireMe.astro'
import Projects from './BentoBox/Projects.astro'
import Skills from './BentoBox/Skills.astro'
import Testimonials from './BentoBox/Testimonials.astro'
---


  <div class="mx-auto">
    <div class="mt-10 grid gap-4 sm:mt-16 grid-cols-2 grid-rows-5 md:grid-cols-3 md:grid-rows-3">
      <Experience />
      <HireMe />
      <AboutMe />
      <Blog/>
      <Testimonials />
      <Skills />
      <Projects />
    </div>
  </div>
