  <div class="mx-auto mt-10">
    <h2 class="font-bold text-2xl">Trusted By</h2>
    <p class="sm:w-3/4 pb-2 text-sm text-gray-500">Trusted by startups and enterprises for frontend development, team augmentation, and code audits.</p>
    <div class="mt-4 grid gap-4 grid-cols-1 sm:grid-cols-3 md:grid-cols-6">
        <div class="h-24 w-24 p-2 bg-[#0C5C65] shadow-md rounded-lg overflow-hidden">
            <img src="/icons/dd-icon.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-24 w-54 bg-black shadow-md rounded-lg overflow-hidden span-cols-2 flex flex-col justify-center items-center">
            <img src="/icons/moment-white.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-24 w-24 bg-white shadow-md rounded-lg overflow-hidden col-start-4">
            <img src="/icons/booster-apps.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-24 w-24 bg-white shadow-md rounded-lg overflow-hidden">
            <img src="/icons/splunk.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-24 w-24 bg-white shadow-md rounded-lg overflow-hidden">
            <img src="/icons/lead-sherpa.jpeg" alt="Booster Apps Logo" srcset="">
        </div>
    </div>
  </div>