  <div class="mx-auto mt-10 p-6 bg-white shadow-lg rounded-xl">
    <h2 class="font-bold text-2xl mb-2">Who I've Helped</h2>
    <p class="sm:w-2/3 pb-2 text-sm/7 text-gray-700">Trusted by startups and enterprises for frontend development, team augmentation, and code audits.</p>
    <div class="mt-4 grid gap-4 grid-cols-1 sm:grid-cols-3 md:grid-cols-9">
        <div class="h-16 w-16 p-2 bg-[#0C5C65] shadow-md rounded-lg overflow-hidden grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">    
            <img src="/icons/dd-icon.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-16 w-16 bg-stone-200 shadow-md rounded-lg overflow-hidden grayscale hover:grayscale-0 transition-all duration-200 ease-in-out pt-1.5">
            <img src="/icons/pp.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-16 w-36 bg-green-50 shadow-md rounded-lg overflow-hidden span-cols-2 flex flex-col justify-center items-center grayscale hover:grayscale-0 transition-all duration-200 ease-in-out p-2">
            <img src="/icons/moment.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-16 w-16 bg-white shadow-md rounded-lg overflow-hidden col-start-5 grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/booster-apps.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-16 w-16 bg-white shadow-md rounded-lg overflow-hidden grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/splunk.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-16 w-36 bg-blue-50 shadow-md rounded-lg overflow-hidden span-cols-2 flex flex-col justify-center items-center grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/qlp.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="h-16 w-16 bg-white shadow-md rounded-lg overflow-hidden grayscale hover:grayscale-0 transition-all duration-200 ease-in-out col-start-9">
            <img src="/icons/lead-sherpa.jpeg" alt="Booster Apps Logo" srcset="">
        </div>
    </div>
  </div>