

<div class="relative isolate mt-14 pb-8">
  <div class="mx-auto max-w-xl lg:max-w-4xl">
    <h2 class="text-lg font-semibold tracking-tight text-pretty text-gray-900 sm:text-2xl">Let’s talk about your project</h2>
    <p class="mt-2 text-base text-gray-600 md:w-3/4">Let’s build something great together—whether you need an MVP, frontend support, or a code audit, I’m here to help.</p>
    <div class="mt-6 flex flex-col gap-16 sm:gap-y-20 lg:flex-row">
      <form id="contact-form"  method="POST" class="lg:flex-auto">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div>
            <label for="name" class="block text-sm/6 font-semibold text-gray-900">Name</label>
            <div class="mt-2">
              <input type="text" name="name" id="name" autocomplete="given-name" class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700">
            </div>
          </div>
          <div>
            <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email</label>
            <div class="mt-2">
              <input type="text" name="email" id="email" autocomplete="family-name" class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block text-sm/6 font-semibold text-gray-900">Message</label>
            <div class="mt-2">
              <textarea id="message" name="message" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700"></textarea>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <button type="submit" class="block w-full rounded-md bg-black px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 transition-colors duration-200 ease-in">Send a Message</button>
        </div>
      </form>
      <div class="lg:mt-6 lg:w-80 lg:flex-none">
        <figure class="mt-4">
          <blockquote class="text-base/7 font-semibold text-gray-900">
            <p>“I highly recommend working with Kyle, he did an awesome job at executing my vision for my website! He presented a couple different options with different price ranges to ensure it fit my budget. He was quick, communicative, friendly, & helpful. ”</p>
          </blockquote>
          <figcaption class="mt-4 flex gap-x-6">
            <div>
              <div class="text-base font-semibold text-gray-900">Jaiya Elliot</div>
              <div class="text-sm/6 text-gray-600">Owner of Pepper & Pals</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<script>
  import { actions } from 'astro:actions'
  
  const handleFormSubmit = async (event: Event) => {
    event.preventDefault()
    const form = event.target as HTMLFormElement
    if (!form) return;
    const formData = new FormData(form)
    const formObject: { message: string; email: string; name: string } = Object.fromEntries(formData.entries()) as { message: string; email: string; name: string }
    const response = await actions.contact(formObject)
    if (!response.error) {
      form.reset()
      alert('Thanks for reaching out! I’ll get back to you soon.')
    } else {
      alert('There was an error submitting the form. Please try again.')
    }
  }
  const form = document.getElementById('contact-form')
  if (form) {
    form.addEventListener('submit', handleFormSubmit)
  }

</script>