---
const { title } = Astro.props;
---

<div class="flex flex-col outline p-2 rounded-lg outline-gray-400 shadow-md transition-outline duration-500 ease-in-out hover:outline-blue-500">
    <dt class="flex items-center gap-x-1 text-base/5 font-semibold text-gray-900">
    <!-- <svg class="size-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" />
    </svg> -->
    {title}
    </dt>
    <dd class="mt-2 flex flex-auto flex-col text-md text-gray-600">
    <slot />
    </dd>
</div>