---
import BentoBoxCard from './BentoBoxCard.astro';
---

<BentoBoxCard title="About Me" position="row-start-2 col-start-1 col-span-2 sm:col-span-1">
    <p class="text-xs text-gray-500 p-3">
        With expertise in React, Firebase, Python, and NoSQL databases, I build applications that scale. I focus on performance, usability, and long-term maintainability—whether you need a startup MVP or a complex business tool.
    </p>
</BentoBoxCard>