---
import BentoBoxCard from './BentoBoxCard.astro';
---

<BentoBoxCard title="Blog">
    <p class="text-xs text-gray-500 p-3">
        I write about web development, design, and productivity.
    </p>
</BentoBoxCard>