---
import BentoBoxCard from './BentoBoxCard.astro'
---

<BentoBoxCard title="Experience" position="lg:row-start-1 lg:col-start-1 lg:row-span-2">
    <ul role="list" class="space-y-6 pb-2">
        <li class="relative flex gap-x-3 bg-neutral-50">
            <div class="absolute top-2 -bottom-6 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full ring-1 ring-black bg-black"></div>
            </div>
            <div class="flex flex-col">
                <p class="  text-xs/5 font-medium text-gray-900">Engineer</p>
                <span class="  text-xs/2 text-gray-500">2025 - KRNY Digital</span>
            </div>

        </li>
        <li class="relative flex gap-x-3">
            <div class="absolute top-0 -bottom-6 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col">
                <p class="  text-xs/5 font-medium text-gray-900">Lead Frontend Engineer</p>
                <span class="  text-xs/2 text-gray-500">2023 - 2024 - Concept IX</span>
            </div>
        </li>
        <li class="relative flex gap-x-3">
            <div class="absolute top-0 -bottom-8 left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col">
                <p class="  text-xs/5 font-medium text-gray-900">Senior Frontend Engineer</p>
                <span class="  text-xs/2 text-gray-500">2021 - 2023 - Lead Sherpa</span>
            </div>
        </li>
        <li class="relative flex gap-x-3 items-center">
            <div class="absolute top-0  left-0 flex w-6 justify-center">
                <div class="w-px bg-black"></div>
            </div>
            <div class="relative flex size-6 flex-none items-center justify-center">
                <div class="size-1.5 rounded-full bg-black ring-1 ring-black"></div>
            </div>
            <div class="flex flex-col">
                <p class="  text-xs/5 font-medium text-gray-900">Frontend Engineer</p>
                <span class="  text-xs/2 text-gray-500">2020 - 2021 - Lead Sherpa</span>
            </div>
        </li>
    </ul>
</BentoBoxCard>