---
import BentoBoxCard from './BentoBoxCard.astro';
---

<BentoBoxCard title="Hire Me" position="md:row-start-3 md:col-start-1">
    <p class="text-xs text-gray-500 p-3">
        I'm available for freelance work. Let's build something together!
    </p>
</BentoBoxCard>