---
import BentoBoxCard from './BentoBoxCard.astro';
---

<BentoBoxCard title="My work" position="col-start-1 row-start-5 sm:row-start-3 sm:col-start-2 col-span-2">
    <p class="text-sm font-bold">DrillDown</p>
</BentoBoxCard>