---
import BentoBoxCard from './BentoBoxCard.astro';
---


<BentoBoxCard title="Skills" modalId="skillsModal" position="sm:col-span-1">
    <div class="flex flex-col justify-center items-center h-full">
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
            <div class="">
                <img src='/icons/react.svg' alt="React" class="size-10" />
                <span class="sr-only">React</span>
            </div>
            <div class="">
                <img src='/icons/remix.svg' alt="Remix" class="size-10" />
                <span class="sr-only">Remix</span>
            </div>
            <div class="">
                <img src='/icons/firebase.svg' alt="Firebase" class="size-10 sm:size-10" />
                <span class="sr-only">Firebase</span>
            </div>
            <div class="">
                <img src='/icons/python.svg' alt="Python" class="size-10 sm:size-10" />
                <span class="sr-only">Python</span>
            </div>
            <div class="">
                <img src='/icons/d3.svg' alt="D3.js" class="size-10" />
                <span class="sr-only">D3.js</span>
            </div>
            <div class="hidden sm:block">
                <img src='/icons/tailwind.svg' alt="Tailwind" class="size-10" />
                <span class="sr-only">Tailwind</span>
            </div>
            <div class="hidden sm:block">
                <img src='/icons/supabase.svg' alt="Supabase" class="size-10" />
                <span class="sr-only">Supabase</span>
            </div>
            <div class="">
                <img src='/icons/typescript.svg' alt="Typescript" class="size-10 sm:size-10" />
                <span class="sr-only">Typescript</span>
            </div>
            <div class="hidden sm:block">
                <img src='/icons/astro.svg' alt="Astro" class="size-10" />
                <span class="sr-only">Astro</span>
            </div>
        </div>
    </div>
</BentoBoxCard>