---
import BentoBoxCard from './BentoBoxCard.astro';
---

<BentoBoxCard title="Testimonials" position="row-start-4 col-start-1 col-span-2 sm:col-span-1 sm:row-start-2">
    <div class="flex flex-col justify-center items-center h-full">
        <div class="text-left">
            <p class="text-xs font-semibold text-black">
                This is a sample testimonial.
            </p>
            <p class="text-xs text-gray-500">Michael Dubois - Engineer</p>
        </div>
    </div>
</BentoBoxCard>